/* ----------------- */
/* ------RESET------ */
/* ----------------- */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img,
picture,
figure,
video {
  width: 100%;
  display: block;
}

input,
button,
select,
textarea {
  font: inherit;
}

/* ----------------- */
/* CUSTOM PROPERTIES */
/* ----------------- */

:root {
  /* COLORS */

  --clr-primary-200: 225, 100%, 94%;
  --clr-primary-300: 245, 75%, 65%;
  --clr-primary-400: 245, 75%, 52%;

  --clr-neutral-100: 225, 100%, 98%;
  --clr-neutral-400: 224, 23%, 55%;
  --clr-neutral-900: 223, 47%, 23%;

  /* TYPOGRAPHY */

  --fs-body: 16px;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;
  --ff: "Red Hat Display", sans-serif;

  /* SPACING */

  --spacer-1: 1em;
  --spacer-2: 1.5em;
  --spacer-3: 2em;
  --spacer-4: 2.5em;
}

/* ---------------- */
/* UTILITTY CLASSES */
/* ---------------- */

.text-center {
  text-align: center;
}

.fw-900 {
  font-weight: 900;
}

.fw-700 {
  font-weight: var(--fw-700);
}

.fw-500 {
  font-weight: 500;
}

.opacity {
  opacity: 0.5;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

/* --------------- */
/* GENERAL STYLING */
/* --------------- */

body {
  background-color: hsl(var(--clr-primary-200));
  font-family: var(--ff);
  font-size: 14px;
  margin: var(--spacer-2) auto;
}

.main-container {
  gap: calc(var(--spacer-1) / 2);
}

.hero {
  background-color: hsl(var(--clr-neutral-100));
  border-radius: var(--spacer-1);
  overflow: hidden;
  margin: var(--spacer-3);
}

.order {
  padding: var(--spacer-3);
  gap: var(--spacer-2);
}

.order__message {
  line-height: 1.7;
  padding-inline: var(--spacer-1);
}

.icon {
  width: 20%;
}

.plan {
  gap: var(--spacer-1);
  border-radius: calc(var(--spacer-1) - 0.25em);
  padding: var(--spacer-1);
  background-color: hsl(var(--clr-primary-200), 0.3);
  align-items: center;
}

.change {
  margin-left: auto;
}

.change:hover,
.change:focus {
  text-decoration: none;
  color: hsl(var(--clr-primary-300));
}

.button {
  cursor: pointer;
  border: 0;
  padding: var(--spacer-1) var(--spacer-3);
  background-color: hsl(var(--clr-primary-400));
  color: hsl(var(--clr-neutral-100));
  border-radius: 10px;
  box-shadow: 1px 7.5px 10px 2px hsl(var(--clr-neutral-400), 0.5);
}

.button:hover,
.button:focus {
  background-color: hsl(var(--clr-primary-300));
}

.cancel {
  text-decoration: none;
  color: #424242;
}

.cancel:hover,
.cancel:focus {
  color: #000;
  opacity: 0.8;
}

@media (min-width: 40em) {
  body {
    background-image: url(images/pattern-background-desktop.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .hero {
    width: 45%;
    max-width: 25rem;
    margin: var(--spacer-4) auto;
  }

  .plan {
    padding: var(--spacer-2);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
